* {
    font-size: 1.15em;
    font-family: fantasy;
}

.not-bought:hover {
    cursor: pointer;
}

.bought:hover {
    cursor: default;
}

body {
    text-align: center;
    background: url(/assets/bamboo-bg.jpeg);
}

#grocery-header {
    background: linear-gradient(135deg, #3a5a40d5 20%, #a3b18ad7), url(/assets/metal.jpeg);
    font-size: 1.5rem;
    padding-top: 20px;
}

#list-time {
    letter-spacing: 2px;
    color: rgb(203, 211, 205);
    background-color: rgba(56, 56, 56, 0.681);
    border-left: solid 4px rgb(27, 27, 27);
    border-top: solid 4px rgb(27, 27, 27);
    border-right: solid 4px rgb(52, 52, 52);
    border-bottom: solid 4px rgb(52, 52, 52);
    border-radius: 15px;
    padding: 10px 0px 15px 0px;
    margin-top: 35px;
}

main {
    background: linear-gradient(135deg, #a3b18ad7 60%, #3a5a40d5);
    background-position: stretch;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    height: 520px;
    width: 976px;
    display: grid;
    grid-template-columns: 3, 1fr;
    grid-template-rows: 2, 1fr;
    align-items: center;
    background: url(/assets/pixel-jeff-market.gif);
}

.item-form {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

.grocery-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/3;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: fit-content;
    padding: 8px 8px 0px 8px;
    border-radius: 5px;

    background: #dad7cd;
}

label {
    border: inset 3px;
    text-align: start;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    background-color: rgba(183, 154, 108, 0.78);
}

#add-item-button {
    margin-left: 5px;
}

input {
    margin: 3px;
    background-color: #dad7cd;
}

.list {
    min-height: 300px;
    min-width: 250px;
    background: linear-gradient(45deg, #dad7cd, rgb(116, 91, 61));
    border: solid 2px #3a5a40;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    font-size: 1.5em;
}

.delete {
    margin: 5px;
}

a {
    background-color: #344e41;
    color: white;
    text-decoration: none;
    border: inset 3px #344e41;
    border-radius: 20px;
    padding: 5px 5px 0px 5px;
    font-family: fantasy;
}

a:visited {
    color: white;
}

.bought {
    text-decoration: line-through;
}
